<div id="docfix"
  [(ngModel)]= "showDocument"
  *ngIf="showDocument">
  <button class="btn btn-primary btn-lg"
    title="DocumentManagement"
    (click)="docManagement()"
    style = " height: 100px;
     width: 200px; 
     background-color: #337ab7;
     border-block-color: #2e6da4" 
    > Document
  </button> 
</div>
<div id="rolefix"
  [(ngModel)]= "showRole"
  *ngIf="showRole">
  <button class="btn btn-primary btn-lg"
    title="RoleManagement" 
    (click)="roleManagement()"
    style = " height: 100px;
     width: 200px;
     background-color: #337ab7;
     border-block-color: #2e6da4" 
    > Role
  </button> 
</div>
<!-- <div class="col-md-2">
  <button 
    class="btn btn-primary btn-large"
    title="RoleManagement" 
    (click)="role()">Role
  </button>
</div> -->