#docfix {
    bottom: 312px;
    right: 780px;
    position: fixed;
    z-index: 3000;
    display: inline-block;
}
#rolefix {
    bottom: 312px;
    right: 480px;
    position: fixed;
    z-index: 3000;
    display: inline-block;
}