/* You can add global styles to this file, and also import other style files */
.body{
    background-color: mintcream;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
         user-select: none;       
}

*:not(input) {
    cursor: default;
}