<div class="container">
    <div><app-navigation style="background-color: whitesmoke"></app-navigation></div>
    <div class="router">
      <router-outlet ></router-outlet>
    </div>
    <app-my-loader></app-my-loader>
</div>