#heading{
    background-color: rgba(211, 4, 4, 0.788);
    height : 10px;
}

.card{
    position: relative;
    top : 61px;
    left: 474px;
    /* width: 80%; */
    max-width: 473px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(247, 241, 242);
    height: 400px;
  }

  .card::before {
    content: "Sign In";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    background: rgb(188, 188, 192);
    color: #f50d0d;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 34px 0;
    text-indent: 4px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: medium;
    
  }

.form-label-group{
    color: #dd1616;
    padding-top: 25px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* height: 4px; */
}