      <div class="card card-signin my-5">
        <div class="card-body" >
          <p *ngIf="errorMsg != null" class="alert alert-danger">
            {{ errorMsg }}
          </p>
          <form class="form-signin" (submit)="logon()">
            <div class="form-label-group">
              <span for="username"><h5>Employee ID</h5></span>
              <input
                class=" form-control"
                type="text"
                name="username"
                [(ngModel)]="username"
                id="username"
              />
            </div>
            <div class="form-label-group">
              <span for="password"><h5>Password</h5></span>
              <input
                class="form-control"
                type="password"
                name="password"
                [(ngModel)]="password"
                id="password"
              />
            </div>
            <div class="row form-label-group">
              <div class="col-lg-6">
                <button
                  class="btn btn-md btn-primary btn-block text-uppercase"
                  type="submit"
                  style="background-color: rgb(0, 57, 117)"
                >
                  Login
                </button>
              </div>
              <div class="col-lg-6">
               
              </div>
            </div>
          </form>
        </div>
      </div>
  