<div class="toolbar ">
  <div class = "image"></div>
      <span alt="ECM Connector">ECM Connector Tool</span>
      
      <div class="spacer"></div>
      <div class="w3-dropdown-hover w3-right"  *ngIf="loginService.isUserLoggedIn()">
        <button class="btn btn-secondary color"><span>Welcome, {{username}}</span></button>
        <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
          <button *ngIf="loginService.isUserLoggedIn()"
          class="dropdown-item color" 
          (click)="logout()">Logout</button>
        </div>
      </div>
</div>