<div class="document-upload-page">
    <!-- <div class="document-selection-panel">
        <div class="row">
            <button class="col-md-9 col-border General-div" data-toggle="collapse" data-target="#generalList" aria-expanded="false" aria-controls="generalList">
                <span class="General"> General </span>
                <div class="spacer"></div>
                <span class="arrow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
            </button>
            <div class="collapse in"  id="generalList">
            <div class="col-md-9 card card-body">
                <span class="save-in required"> Save in </span>
                <div class="spacer"></div>
            </div>div>
            </div>
        </div>
    </div>

    <div class="document-property-panel" id="">

    </div> -->

    <button data-toggle="collapse" data-target="#demo">Collapsible</button>

    <div id="demo" class="collapse">
    Lorem ipsum dolor text....
    </div>
</div>