.spacer{
    flex: 1;
}

.arrow{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}

.display-none{
    display: none !important;
}

.required::before{
    content: "*";
}

.col-border:hover{
    background: silver;
    padding: 10px;
}

.col-border{
    padding: 10px;
}