<div>
    <div class="row" >
      <div class="col-lg-8">
        <h1>Search Document</h1>
      </div>
    </div>
    <div class="row paddingbottom" >
      <div class="col-xs-2 padder">
        <span for="applicationNo">Application No</span>
      </div>
      <div class="col-lg-3">
        <input [(ngModel)]="appNo" 
        name="applicationNo" 
        id="applicationNo" 
        class="form-control" 
        type="text" 
        required />
        <div class="invalid-feedback">Please Enter ApplicationNo</div>
      </div>
      <div class="col-xs-1 padder">
        <button class="btn-secondary" (click)="getDocumentLink()">
          <span class="glyphicon glyphicon-send">Search</span>
        </button>
      </div>
      <div class="col-xs-1 padder">
        <button class="btn-secondary" (click)="goBack()">
          <span class="glyphicon glyphicon-send">Back</span>
        </button>
      </div>
    </div>
  
    <table class="table" [mfData]="documents" #mf="mfDataTable" [mfRowsOnPage]="7">
      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="documentName">Document Title</mfDefaultSorter>
          </th>
          <th>Document Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of mf.data">
          <td >{{ document.documentTitle }}</td>
          <td ><a (click)="openLink(document.Link)" href="javascript: void(0)">open document</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator
            ></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
   <!-- <table
      class="table table-striped"
      [mfData]="data"
      #mf="mfDataTable"
      [mfRowsOnPage]="5"
    >
      <thead>
        <tr>
          <th style="width: 10%">
            <mfDefaultSorter by="RoleName">RoleName</mfDefaultSorter>
          </th>
          <th style="width: 15%">
            <mfDefaultSorter by="Grade">Grade</mfDefaultSorter>
          </th>
          <th style="width: 15%">
            <mfDefaultSorter by="Exception">Exception</mfDefaultSorter>
          </th>
          <th style="width: 15%">
            <mfDefaultSorter by="Document">Document</mfDefaultSorter>
          </th>
          <th style="width: 15%">
            <mfDefaultSorter by="Access-Permisson"
              >Access-Permisson</mfDefaultSorter
            >
          </th>
          <th style="width: 10%">EDIT</th>
          <th style="width: 10%">Is-Approved</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{ item.RoleName }}</td>
          <td>{{ item.Grade }}</td>
          <td>{{ item.Exception }}</td>
          <td>{{ item.Document | uppercase }}</td>
          <td>{{ item.Access_Permission }}</td>
          <td>
            <a href="addRole"><i class="fa fa-pencil fa-2x"></i></a>
          </td>
          <td>
            <a href="approve"><i class="fa fa-check fa-2x"></i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator
              [rowsOnPageSet]="[5, 10, 25]"
            ></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
   --></div>
  